.heading{
    margin: 0px;
    box-shadow: 3px 3px 3px turquoise;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
}
.note{
    color: crimson;
}
.copy_right_footer{
    text-align: center;
    width: 100%;
    line-height: 3;
    bottom: 0;
    background-color: teal;
    color:crimson;
    position: fixed;
    font-weight: bold;
    font-size: 20px;
}

canvas{
    box-shadow: 5px 5px 5px crimson;
    background-color: teal;
    border: 5px solid palevioletred;
    border-radius: 20px;
}